.honey-detail-body {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    background-image: url('../../../public/images/socializing/Background_Effect.png'); /* 이미지 경로 설정 */
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.detail-content-box {
    width: 800px;
    padding: 80px;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
}

.detail-content-box div {
    width: 640px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.writer-profile-border {
    height: 170px;
    border: 6px solid;
    border-color: var(--main-color);
    border-radius: 50%;
    background-color: #ffffff;
    color: white;
    font-size: 24px;
    font-family: 'SUIT Regular', sans-serif;
    position: absolute;
}

.writer-profile-pic {
    height: 170px;
    border-radius: 50%;
    background-image: url('../../../public/images/commons/icon_mypage_colored.png'); /* 이미지 경로 설정 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
}

.detail-recruit-status {
    border-radius: 20px;
    width: 58px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

.decide-button {
    border: 1px solid;
    border-radius: 40px;
    border-color: var(--main-color);
    cursor: pointer;
}

.decide-button:hover {
    background-color: var(--main-color);
    border: 1px solid;
    border-radius: 40px;
    border-color: var(--main-color);
    cursor: pointer;
}

.decide-button p {
    margin-left: 28px;
}

.content-box-detail {
    display: flex;
    height: 210px;
    border: 1px solid black;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
}

.detail-img-box {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.detail-img-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.detail-ticket-contents {
    height:100%;
    border:1px solid;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.comment-box {
    padding: 10px 20px;
    border-top: 1px solid;
    border-top-color: var(--main-color);
    justify-content: flex-start;
}

.comment-textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--main-color);
    outline: none;
}

.submit-button {
    width: 50px;
    height: 28px;
    font-size: 15px;
    background-color: var(--main-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.comment-contents {
    font-size: 15px;
    border: 1px solid black;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
    margin-left: 15px;
}