.write-middle-ticket {
    width: 700px;
    height: 480px;
    border: 1px solid;
    border-radius: 20px;
    border-color: var(--main-color);
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
}

.write-middle-ticket div {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    cursor: pointer;
}

.write-middle-ticket > div:hover {
    transform: scale(1.03);
}

.selected-ticket {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}